body {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

.line {
    fill: none;
    /*stroke: steelblue;*/
    stroke-width: 1.5px;
}

.team-node-text {
	font: sans-serif;
}

.team-node-circle {
	stroke-width: 2px;
}